body {
  font-family: Inter;
  color: #484848;
  background-color: white;
}

.container {
  margin: 0 auto;
  padding: 0px;
}

.ext-container {
  width: 1340px;
  margin: 70px auto;
  h1 {
    margin-bottom: 40px;
  }
}

.ext-container-two {
  width: 1340px;
  margin: 40px auto;
}
