<div class="footer">
  <div class="footer-container"> 
    <div class="main-text">
      <h1>Libresanté</h1>
    </div>
    <div class="footer-copyright">
      <p>© 2020 Libresanté, Inc. All rights reserved</p>
      <p>Made with <i class="fas fa-heart"></i> by MangoLab.io</p>
    </div>
  </div>
</div>