<div class="footer">
  <div class="footer-container"> 
    <div class="main-text">
      <%= image_tag "https://res.cloudinary.com/libresante/image/upload/v1600705878/Libresant%C3%A9_black_aqeexp.png" %>
    </div>
    <div class="footer-copyright">
      <p>© 2020 Libresanté, Inc. All rights reserved</p>
      <p>Made with <i class="fas fa-heart"></i> by MangoLab.io</p>
    </div>
  </div>
</div>