<div class="footer">
  <div class="footer-container"> 
    <div class="main-text">
      <h1>Libresanté</h1>
    </div>
    <div class="footer-copyright">
      <p>© 2020 Libresanté, Inc. All rights reserved</p>
    </div>
  </div>
</div>