<div class="owl-one owl-carousel owl-theme cards">
    <% @filters.each do |filter| %>
      <%= link_to filter_path(filter) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url('<%= cl_image_path filter.image.key, height: 181, width: 315, crop: :fill %>') ">
          <div class="input">
            <%= filter.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>