<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600267133/f5uo0jpacmjg86wv0pne.jpg);">
  <div class="container">
    <h1>Productos Medicos</h1>
    <p>Productos medicos</p>
  </div>
</div>

<div class="container">
  <h1>Explora Libresanté</h1>
  <div class="cards">
    <% @filters.each do |filter| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.25)), url(https://images.unsplash.com/photo-1564065316768-b8793a4eb675?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);">
        <div class="input">
          <%= filter.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>