<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600267133/f5uo0jpacmjg86wv0pne.jpg);">
  <div class="container">
    <h1>Productos Medicos</h1>
    <p>Productos medicos</p>
  </div>
</div>

<div class="ext-container">
  <h1>Explora Libresanté</h1>
  <%= render 'filter_carousel'%>
</div>

<div class="container">
  <%= render 'contact_carousel'%> 
</div>

<div class="ext-container-two">
  <h1>Productos a descubrir</h1>
</div>

<div class="container">
  <%= render 'explore_products' %>
</div>

<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/libresante/image/upload/v1600487401/brandon-holmes-GofYo51GQ_4-unsplash_kcqwml.jpg);">
  <div class="btnbtn">
    <%= link_to "CONTACTAR", "#", class: "word" %>
    <i class="fas fa-chevron-right"></i>
  </div>
</div>