.avatar {
  width: 40px;
  border-radius: 50%;
}
.avatar-large {
  width: 165px;
  border-radius: 50%;
}

.name {
  font-size: 16px;
  font-weight: 600;
}

.role {
  font-size: 15px;
  font-weight: 400;
}