.banner {
  background-size: cover;
  background-position: center;
  // padding: 150px 0;
  height: 100vh;
  // padding-top: 40vh;
  color: white;
  display: flex;
  align-items: center;
  // p {
  //   margin-left: 200px;
  // }
}

.banner h1 {
  // margin-left: 200px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 36px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-two {
  background-size: cover;
  background-position: center;
  height: 260px;
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  .btnbtn {
    background-color: white;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 12px 13px 52px;
    border-radius: 14px;
    &:hover {
      background-color: #4392F1;
      a, i {
        color: white;
      }
    }
  }
  a {
    text-decoration: none;
    margin-right: 25px;
    font-weight: bold;
  }
  a, i {
    color: #484848;
  }
}

.filter-banner {
  background-size: cover;
  background-position: center;
  height: 360px;
  // padding-top: 20vh;
  color: white;
  display: flex;
  align-items: center;
}