.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.cards-prod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0px 0px 80px 0px;
}

.card-category {
  height: 181px;
  width: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  border-radius: 15px;
  margin: 0px 10px 0px 10px;
}

.card-product {
  width: 250px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 17px;
  border-radius: 15px;
  margin: 10px 10px 10px 10px;
}

.input {
  text-align: center;
  padding: 20px;
}

.card-contact {
  height: 330px;
  width: 1140px;
  padding: 40px;
  // background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
}

.contacts {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  width: 100%;
  margin: 100px 0px;
}

.details {
  width: 370px;
  margin-right: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .name {
    margin-bottom: 4px;
    text-align: center;
  }
  .role {
    margin-bottom: 0px;
  }
}

.content {
  margin-bottom: 38px;
}

.content p {
  font-size: 16px;
  font-weight: 550;
  text-align: justify;
}

.owl-carousel .owl-item img {
 width: 186px;
 margin-bottom: 16px;
}

.contact-btn {
  display: flex;
  justify-content: flex-end;
  .btnbtn {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 12px 13px 52px;
    border-radius: 14px;
    &:hover {
      background-color: #4392F1;
      a, i {
        color: white;
      }
    }
  }
  a {
    text-decoration: none;
    margin-right: 25px;
    font-weight: bold;
  }
  a, i {
    color: #484848;
  }
}

.owl-two .owl-dot {
  outline: none;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4392F1;
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
//   }
// }
