.footer {
  background: lightgray;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  // height: 160px;
  // padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  padding: 25px 0px 0px 0px;
}

.footer-container {
  width: 100%;
  margin: 22px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-text {
  margin-bottom: 20px;
  text-align: center;
  width: 90%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  h1 {
    font-size: 58px;
    -webkit-text-fill-color: transparent; 
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
}

.footer-copyright {
  color: #616161;
  font-weight: 550;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 12px;
  width: 100%;
  p {
    margin-bottom: 0px;
  }
}
