// Product modals
.hide {
  display: none!important;
}

.modal-content {
  height: 760px;
  border-radius: 50px;
  position: relative;
}

.contact-content {
  height: 422px;
  border-radius: 50px;
  position: relative;
}

.close {
  position: absolute;
  top: 3%;
  left: 3%;
  span {
    font-size: 35px;
    font-weight: 300;
  }
}

.contact-close {
  position: absolute;
  top: 5%;
  left:5%;
  span {
    font-size: 35px;
    font-weight: 300;
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 57px 0px 50px 0px;
  border-bottom: 0px;
  img {
    border-radius: 20px;
  }
}

.contact-modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0px 50px 0px;
  border-bottom: 0px;
  font-size: 28px;
  img {
    border-radius: 20px;
  }
}

.modal-body {
  text-align: center;
  padding: 0px 90px;
  .modal-prod-name {
    font-weight: bold;
  }
  .modal-prod-description {
    font-weight: 500;
  }
}

.contact-modal-body {
  text-align: center;
  padding: 0px 119px;
  display: flex;
  justify-content: center;
  .contact-img {
    margin-right: 50px
  }
  .contact-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .contact-name {
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 600;
  }
  .contact-role {
    margin-bottom: 0px;
  }
  .contact-email {
    margin-bottom: 4px;
  }
}

.modal-footer {
  border-top: 0px;
  padding: 0px 45px 35px 0px;
  .btnbtn {
    width: 200px;
    height: 48px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 12px 13px 52px;
    border-radius: 14px;
    background-color: #4392F1;
    a, i {
      color: white;
    }
  }
  a {
    text-decoration: none;
    margin-right: 22px;
    font-weight: bold;
  }
}

@media (min-width: 576px){
 .modal-dialog {
    max-width: 720px;
 }
}
@media (min-width: 576px){
 .contact-dialog {
    max-width: 663px;
 }
}